.project {
    width: 300px;
    height: max-content;
    margin: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.image {
    composes: center from '../../common/Common.css';
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
    border-radius: 10px;
    background-color: black;
    opacity: 0.5;
}

.showButton {
    composes: button from './../../common/Common.css';
    text-decoration: none;
    position: relative;
    /*opacity: 0.5;*/
}

.title {
    /*background-color: white;*/
    /*text-align: center;*/
    margin: 15px 15px 0;
    font-size: 18px;
    font-weight: bold;
}

.description {
    /*background-color: white;*/
    margin: 0 15px 20px;
    font-size: 18px;
    /*text-align: center;*/
    padding: 10px 0;
}

@media screen and (max-width: 500px) {
    .project {
        width: 80%;
        height: max-content;
    }

    .image {
        width: 100%;
    }

    .image:before {

    }

}
