.projects {
    min-height: 100vh;
    background: #f3f3f3;
    composes: center from '../../common/Common.css';
    justify-content: center;
    /*position: relative;*/
}

.container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
}

.title {
    composes: center upFont from '../../common/Common.css';
    height: 100px;
    width: 100%;
}

@media screen and (max-width: 850px) {
    .wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
