.navMenu {
    display: flex;
    justify-content: space-between;
}

.linkWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    background-color: #f3f3f3;
}

.link:hover {
    color: #77DB04;
    background-color: #1f1f1f;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    white-space: nowrap;
    /*font-family: "Droid Serif";*/
    color: #212121;
}
