.contacts {
    height: 100vh;
    background: darkslategrey;
    display: flex;
    justify-content: center;
}

.container {
    composes: container from 'Common.css';
    flex-direction: column;
    padding: 80px 0;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    /*width: 50%;*/
    width: 500px;
}

.button {
    composes: button from 'Common.css';
}

.message {
    min-height: 160px;
    resize: vertical
}

@media screen and (max-width: 650px) {
    .formWrapper {
        width: 100%;
    }
}