.contacts {
    height: 100vh;
    background: #1f1f20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    composes: container from 'common/Common.css';
    flex-direction: column;
    padding: 80px 0;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    /*width: 50%;*/
    width: 500px;
}

.button {
    composes: button from 'common/Common.css';
}

.inputForm {
    margin: 10px 0;
    padding: 10px;
}

.message {
    margin: 10px 0;
    min-height: 160px;
    resize: vertical
}

@media screen and (max-width: 650px) {
    .formWrapper {
        width: 100%;
    }
}
