.header {
    composes: center from 'common/Common.css';
    align-items: stretch;
    height: 70px;
    background: deepskyblue;
    position: fixed;
    width: 100%;
    z-index: 1;
    opacity: 0.9;
}

.container {
    composes: container from "common/Common.css";
}
