.project {
    width: 400px;
    background: #252527;
    color: #c4c300;
    display: flex;
    flex-direction: column;
}

.image {
    composes: center from 'common/Common.css';
    height: 300px;
    background: greenyellow;
}


@media screen and (max-width: 500px) {
    .project {
        width: 100%;
    }
}
