.skill {
    width: 300px;
    /*background: #1f1f20;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
}

.icon {
    height: 80px;
    width: 80px;
    background: cornsilk;
}

.title {
    composes: center upFont from 'common/Common.css';
    font-size: 20px;
    width: 100%;
}

.description {
    text-align: center;
    padding: 10px 0;
    color: white;
}

@media screen and (max-width: 385px) {
    .skill {
        width: 100%;
    }
}
