.skills {
    composes: center from 'Common.css';
    background: #2ec418;
    min-height: 100vh;
}

.container {
    border: 1px solid;
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
    padding: 100px 0;
}

.title {
    composes: center from 'Common.css';
    width: 100%;
}

.items {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 1150px) {
    .items {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}