.container {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    width: 150px;
    height: 50px;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: none;
    border-radius: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upFont {
    color: #212121;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
    line-height: 1.2;
    letter-spacing: 5px;
    font-weight: 300;
    text-transform: capitalize;

}



