.headerTitle {
    display: flex;
    flex-direction: column;
    height: 100px;
    align-items: center;
    padding-top: 80px;
}

.title {
    composes: center upFont from 'Common.css';
    width: 100%;
}

.line {
    width: 55px;
    height: 2px;
    background-color: #77DB04;
}


