.contacts {
    min-height: 100vh;
    margin-bottom: 20px;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    composes: container from '../../common/Common.css';
    flex-direction: column;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.button {
    composes: button from '../../common/Common.css';
    margin-top: 10px ;
    border: none;
}


.inputForm, .message {
    width: 100%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    border-style: unset;
}

.inputForm, .message:focus {
    outline: none;
}

.message {
    min-height: 160px;
    resize: vertical;
    border-radius: 10px;
}

.notification {
    color: black;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 5px;
    font-weight: 300;
    text-transform: capitalize;
}

@media screen and (max-width: 650px) {
    .formWrapper {
        width: 100%;
    }
}
