.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*width: 80%;*/
    min-height: 250px;
    background: white;
}

.description {
    width: 80%;
    text-align: center;
    padding: 10px 0;
}
